.header {
    &-top {
        text-align: center;
        background: #000000;
        padding: 15px 0;
        &__text {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
        }
    }
    &-center {
        background: #F8F9FB;
        padding: 7px 0;
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__right {
            display: flex;
            align-items: center;
        }
        &__list {
            display: flex;
            align-items: center;
            li {
                font-size: 13px;
                line-height: 16px;
                color: #000000;
                &:not(:first-child) {
                    margin-left: 20px;
                }
            }
        }
        &__telephone {
            display: flex;
            align-items: center;
            &:hover {
                transition: all 0.3s;
                span {
                    color: #EC5658;
                }
                svg {
                    path {
                        fill: #EC5658;
                    }
                }
            }
            span {
                font-size: 13px;
                line-height: 16px;
                color: #000000;
                margin-left: 7px;
            }
        }
        &__entrance {
            width: 75px;
            height: 30px;
            margin-left: 50px;
            text-transform: none;
        }
        &__registration {
            font-size: 13px;
            line-height: 16px;
            color: #000000;
            margin-left: 25px;
            &:hover {
                color: #EC5658;
            }
        }
        .burger {
            width: 35px;
            height: 20px;
            margin-left: 25px;
            cursor: pointer;
            position: relative;
            flex-shrink: 0;
            z-index: 7;
            display: none;
            span {
                width: 100%;
                height: 3px;
                transition: all 0.3s;
                background-color: #000000;
                &:nth-child(1) {
                    position: absolute;
                    top: 0;
                }
                &:nth-child(2) {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:nth-child(3) {
                    position: absolute;
                    bottom: 0;
                }
            }
            &--active {
                span {
                    &:nth-child(1) {
                        transform: rotate(-45deg);
                        top: 50%;
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: rotate(45deg);
                        top: 50%;
                    }
                }
            }
        }
    }
    &-bottom {
        padding: 20px 0 0;
        &__right {
            &--two {
                margin-bottom: 10px;
            }
        }
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__right {
            display: flex;
            align-items: center;
        }
        &__icons {
            display: flex;
            align-items: center;
        }
        &__favourites {
            display: flex;
            span {
                font-size: 13px;
                line-height: 16px;
                font-weight: 500;
                color: #000000;
                margin-top: -10px;
                margin-left: 3px;
            }
        }
        &__basket {
            display: flex;
            margin-left: 25px;
            span {
                font-size: 13px;
                line-height: 16px;
                font-weight: 500;
                color: #000000;
                margin-top: -10px;
                margin-left: 3px;
            }
        }
        &__bottom {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 20px;
        }
        &__list {
            display: flex;
        }
        &__link {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: #222222;
            text-transform: uppercase;
            padding-bottom: 20px;
            &:not(:first-child) {
                margin-left: 20px;
            }
            &--active {
                border-bottom: 2px solid #000000;
                pointer-events: none;
            }
            &--red {
                color: #EC5658;
            }
            &:hover {
                color: #EC5658;
            }
        }
        &__mob-list {
            display: none;
        }
        &__search {
            position: relative;
            &-mob {
                display: none;
            }
            &--two {
                margin-bottom: 15px;
            }
            input {
                width: 330px;
                height: 45px;
                background: #F5F5F5;
                border: none;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                padding: 0 15px;
            }
            button {
                position: absolute;
                z-index: 2;
                top: 50%;
                right: 15px;
                transform: translate(0, -50%);
                cursor: pointer;
            }
        }
        &__line {
            border-bottom: 1px solid #E4E3E3;
            align-items: flex-end;
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        &-center {
            &__entrance {
                margin-left: 15px;
            }
            &__registration {
                margin-left: 15px;
            }
        }
    }
}

// @media screen and (max-width: 992px) {
//     .header {
//         &-top {
//             position: relative;
//             z-index: 6;
//         }
//         &-center {
//             &__inner {
//                 justify-content: end;
//             }
//             .burger {
//                 display: block;
//             }
//             &__left {
//                 display: none;
//             }
//         }
//         &-bottom {
//             &__removal {
//                 display: none;
//             }
//             &__left {
//                 display: flex;
//                 flex-direction: column;
//                 position: absolute;
//                 top: 0;
//                 left: -100%;
//                 width: 100%;
//                 height: 100vh;
//                 background-color: #F4F4F4;
//                 padding-top: 100px;
//                 z-index: 5;
//                 &--active {
//                     left: 0;
//                 }
//             }
//             &__bottom {
//                 justify-content: end;
//             }
//             &__nav {
//                 text-align: center;
//             }
//             &__list {
//                 display: block;
//             }
//             &__link {
//                 padding: 0;
//                 font-size: 16px;
//                 line-height: 18px;
//                 &:not(:first-child) {
//                     margin-left: 0;
//                     margin-top: 15px;
//                 }
//                 &--active {
//                     border: none;
//                 }
//             }
//             &__mob-list {
//                 display: block;
//                 text-align: center;
//                 margin-bottom: 15px;
//                 li {
//                     font-size: 16px;
//                     line-height: 18px;
//                     font-weight: 700;
//                     color: #000000;
//                     &:not(:first-child) {
//                         margin-top: 15px;
//                     }
//                 }
//             }
//             &__right {
//                 width: 100%;
//                 justify-content: space-between;
//             }
//             &__search {
//                 width: 100%;
//                 input {
//                     width: 100%;
//                 }
//             }
//         }
//     }
// }
@media screen and (max-width: 992px) {
    .header {
        &-center {
            &__inner {
                justify-content: end;
            }
            &__left {
                display: none;
            }
            &__entrance {
                margin-left: 40px;
            }
            &__registration {
                margin-left: 30px;
            }
        }
        &-bottom {
            &__right {
                display: none;
            }
            &__removal {
                display: none;
            }
            &__search-mob {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        &-top {
            padding: 10px 0;
            &__text {
                font-size: 10px;
            }
        }
        &-center {
            &__telephone {
                display: none;
            }
            .burger {
                width: 30px;
                height: 15px;
                margin-left: 20px;
            }
        }
        &-bottom {
            padding: 10px 0 0;
            &__bottom {
                margin-top: 10px;
            }
            &__logo {
                svg {
                    width: 150px;
                }
            }
            &__link {
                &:not(:first-child) {
                    margin-left: 15px;
                }
            }
            &__search-mob {
                input::placeholder {
                    display: none;
                }
            }
        }
    }
}