.header {
    &-top {
        text-align: center;
        background: #000000;
        padding: 15px 0;
        &__text {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
        }
    }
    &-center {
        background: #F8F9FB;
        padding: 7px 0;
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__right {
            display: flex;
            align-items: center;
        }
        &__list {
            display: flex;
            align-items: center;
            li {
                font-size: 13px;
                line-height: 16px;
                color: #000000;
                &:not(:first-child) {
                    margin-left: 20px;
                }
            }
        }
        &__telephone {
            display: flex;
            align-items: center;
            &:hover {
                transition: all 0.3s;
                span {
                    color: #EC5658;
                }
                svg {
                    path {
                        fill: #EC5658;
                    }
                }
            }
            span {
                font-size: 13px;
                line-height: 16px;
                color: #000000;
                margin-left: 7px;
            }
        }
        &__entrance {
            width: 75px;
            height: 30px;
            margin-left: 50px;
            text-transform: none;
        }
        &__registration {
            font-size: 13px;
            line-height: 16px;
            color: #000000;
            margin-left: 25px;
            &:hover {
                color: #EC5658;
            }
        }
        .burger {
            width: 25px;
            height: 10px;
            margin-left: 25px;
            cursor: pointer;
            position: relative;
            flex-shrink: 0;
            z-index: 7;
            display: none;
            span {
                width: 100%;
                height: 2px;
                transition: all 0.3s;
                background-color: #000000;
                &:nth-child(1) {
                    position: absolute;
                    top: 0;
                }
                &:nth-child(2) {
                    position: absolute;
                    bottom: 0;
                }
            }
            &--active {
                span {
                    &:nth-child(1) {
                        transform: rotate(-45deg);
                        top: 50%;
                    }
                    &:nth-child(2) {
                        transform: rotate(45deg);
                        top: 50%;
                    }
                }
            }
        }
    }
    &-bottom {
        padding: 20px 0 0;
        &__right {
            &--two {
                margin-bottom: 10px;
            }
        }
        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__right {
            display: flex;
            align-items: center;
        }
        &__icons {
            display: flex;
            align-items: center;
        }
        &__favourites {
            display: flex;
            span {
                font-size: 13px;
                line-height: 16px;
                font-weight: 500;
                color: #000000;
                margin-top: -10px;
                margin-left: 3px;
            }
        }
        &__basket {
            display: flex;
            margin-left: 25px;
            span {
                font-size: 13px;
                line-height: 16px;
                font-weight: 500;
                color: #000000;
                margin-top: -10px;
                margin-left: 3px;
            }
        }
        &__bottom {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 20px;
        }
        &__list {
            display: flex;
        }
        &__link {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            color: #222222;
            text-transform: uppercase;
            padding-bottom: 20px;
            &:not(:first-child) {
                margin-left: 20px;
            }
            &--active {
                border-bottom: 2px solid #000000;
                pointer-events: none;
            }
            &--red {
                color: #EC5658;
            }
            &:hover {
                color: #EC5658;
            }
        }
        &__mob-list {
            display: none;
        }
        &__search {
            position: relative;
            display: flex;
            align-items: center;
            &-mob {
                display: none;
                .icon-search {
                    path {
                        fill: #7A7A7A;
                    }
                }
            }
            &--two {
                margin-bottom: 15px;
            }
            .input__hint {
                position: absolute;
                z-index: 2;
                top: 43px;
                left: 0;
                width: 100%;
                display: none;
                background: #FFFFFF;
                max-height: 265px;
                overflow-y: auto;
                overflow-x: hidden;
                &::-webkit-scrollbar {
                    width: 3px;
                    height: 10px;
                }
                &::-webkit-scrollbar-track {
                    background: #D9D9D9;
                }
                &::-webkit-scrollbar-thumb {
                    background: #000000;
                }
                &--active {
                    display: flex;
                }
                &-item {
                    display: flex;
                    align-items: center;
                    padding-right: 12px;
                    &:not(:first-child) {
                        border-top: 1px solid rgba(0, 0, 0, 0.1);
                    }
                }
                &-img {
                    flex-shrink: 0;
                    margin-right: 15px;
                    img {
                        width: 100%;
                    }
                }
                &-subtitle {
                    margin-top: 8px;
                    font-size: 11px;
                    line-height: 13px;
                    color: #9C9C9C;
                    text-align: start;
                }
            }
            .search-input {
                width: 285px;
                height: 45px;
                background: #F5F5F5;
                border: none;
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                padding: 0 15px;
            }
            .search-btn {
                position: absolute;
                top: 0;
                right: 0;
                width: 45px;
                height: 45px;
                cursor: pointer;
                padding: 0;
                float: right;
                .icon-close {
                    display: none;
                }
            }
        }
        &__line {
            border-bottom: 1px solid #E4E3E3;
            align-items: flex-end;
        }
    }
    &-mob {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .header {
        &-center {
            &__entrance {
                margin-left: 15px;
            }
            &__registration {
                margin-left: 15px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        &-center {
            &__inner {
                justify-content: space-between;
            }
            &__nav {
                display: none;
            }
            &__entrance {
                margin-left: 40px;
            }
            &__registration {
                margin-left: 30px;
            }
        }
        &-bottom {
            &__right {
                display: none;
            }
            &__removal {
                display: none;
            }
            &__search-mob {
                display: flex;
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .header {
        &-top {
            padding: 10px 0;
            &__text {
                font-size: 8px;
            }
        }
        &-center {
            &__telephone {
                display: none;
            }
            .burger {
                display: block;
                &--active {
                    position: absolute;
                    top: 18px;
                    right: 16px;
                }
            }
        }
        &-bottom {
            padding: 10px 0 0;
            &__bottom {
                margin-top: 10px;
            }
            &__logo {
                svg {
                    width: 150px;
                }
            }
            &__favourites {
                margin-left: 25px;
            }
            &__link {
                &:not(:first-child) {
                    margin-left: 15px;
                }
            }
            &__search-mob {
                position: relative;
                margin-left: auto;
                input::placeholder {
                    display: none;
                }
                .input__hint {
                    left: -240px;
                    width: 285px;
                }
                .search-input {
                    width: 0;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    &--active {
                        width: 285px;
                        transition: all 0.3s;
                        padding: 0 15px;
                    }
                }
                .icon-search {
                    path {
                        fill: #000000;
                    }
                }
                .search-btn {
                    position: relative;
                    z-index: 2;
                    background-color: transparent;
                    .icon-search {
                        color: #000000;
                    }
                    &--active {
                        background: #F5F5F5;
                        .icon-search {
                            display: none;
                        }
                        .icon-close {
                            display: block;
                        }
                    }
                    &:hover {
                        background: #F5F5F5;
                        transition: all 0.3s;
                    }
                }
            }
        }
        &-mob {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            background: #FFFFFF;
            padding-top: 50px;
            padding-bottom: 50px;
            z-index: 5;
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 3px;
                height: 10px;
            }
            &::-webkit-scrollbar-track {
                background: #D9D9D9;
            }
            &::-webkit-scrollbar-thumb {
                background: #000000;
            }
            &--active {
                left: 0;
            }
            &__inner {
                padding: 0 30px;
            }
            &__items {
                padding-bottom: 34px;
            }
            &__nav {
                display: block;
                border-top: 1px solid #E9E9E9;
                border-bottom: 1px solid #E9E9E9;
                padding: 34px 0 24px;
            }
            &__list {
                display: block;
                li {
                    &:not(:first-child) {
                        margin-top: 25px;
                        margin-left: 0;
                    }
                }
            }
            &__telephone {
                display: block;
                padding-top: 28px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        &-top {
            &__text {
                max-width: 235px;
                margin-right: auto;
                margin-left: auto;
            }
        }
        &-bottom {
            .search-input {
                &--active {
                    width: 225px;
                }
            }
            .input__hint {
                left: -180px;
                width: 225px;
            }
            &__bottom {
                display: none;
            }
            &__favourites {
                margin-left: 10px;
            }
            &__basket {
                margin-left: 10px;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .header {
        &-bottom {
            &__logo {
                svg {
                    width: 128px;
                }
            }
            .search-input {
                &--active {
                    width: 180px;
                }
            }
            .input__hint {
                left: -135px;
                width: 180px;
            }
        }
    }
}