.header-top {
  text-align: center;
  background: #000000;
  padding: 15px 0; }
  .header-top__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF; }
.header-center {
  background: #F8F9FB;
  padding: 7px 0; }
  .header-center__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-center__right {
    display: flex;
    align-items: center; }
  .header-center__list {
    display: flex;
    align-items: center; }
    .header-center__list li {
      font-size: 13px;
      line-height: 16px;
      color: #000000; }
      .header-center__list li:not(:first-child) {
        margin-left: 20px; }
  .header-center__telephone {
    display: flex;
    align-items: center; }
    .header-center__telephone:hover {
      transition: all 0.3s; }
      .header-center__telephone:hover span {
        color: #EC5658; }
      .header-center__telephone:hover svg path {
        fill: #EC5658; }
    .header-center__telephone span {
      font-size: 13px;
      line-height: 16px;
      color: #000000;
      margin-left: 7px; }
  .header-center__entrance {
    width: 75px;
    height: 30px;
    margin-left: 50px;
    text-transform: none; }
  .header-center__registration {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-left: 25px; }
    .header-center__registration:hover {
      color: #EC5658; }
  .header-center .burger {
    width: 25px;
    height: 10px;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    z-index: 7;
    display: none; }
    .header-center .burger span {
      width: 100%;
      height: 2px;
      transition: all 0.3s;
      background-color: #000000; }
      .header-center .burger span:nth-child(1) {
        position: absolute;
        top: 0; }
      .header-center .burger span:nth-child(2) {
        position: absolute;
        bottom: 0; }
    .header-center .burger--active span:nth-child(1) {
      transform: rotate(-45deg);
      top: 50%; }
    .header-center .burger--active span:nth-child(2) {
      transform: rotate(45deg);
      top: 50%; }
.header-bottom {
  padding: 20px 0 0; }
  .header-bottom__right--two {
    margin-bottom: 10px; }
  .header-bottom__top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-bottom__right {
    display: flex;
    align-items: center; }
  .header-bottom__icons {
    display: flex;
    align-items: center; }
  .header-bottom__favourites {
    display: flex; }
    .header-bottom__favourites span {
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      color: #000000;
      margin-top: -10px;
      margin-left: 3px; }
  .header-bottom__basket {
    display: flex;
    margin-left: 25px; }
    .header-bottom__basket span {
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      color: #000000;
      margin-top: -10px;
      margin-left: 3px; }
  .header-bottom__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px; }
  .header-bottom__list {
    display: flex; }
  .header-bottom__link {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #222222;
    text-transform: uppercase;
    padding-bottom: 20px; }
    .header-bottom__link:not(:first-child) {
      margin-left: 20px; }
    .header-bottom__link--active {
      border-bottom: 2px solid #000000;
      pointer-events: none; }
    .header-bottom__link--red {
      color: #EC5658; }
    .header-bottom__link:hover {
      color: #EC5658; }
  .header-bottom__mob-list {
    display: none; }
  .header-bottom__search {
    position: relative;
    display: flex;
    align-items: center; }
    .header-bottom__search-mob {
      display: none; }
      .header-bottom__search-mob .icon-search path {
        fill: #7A7A7A; }
    .header-bottom__search--two {
      margin-bottom: 15px; }
    .header-bottom__search .search-input {
      width: 285px;
      height: 45px;
      background: #F5F5F5;
      border: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      padding: 0 15px; }
    .header-bottom__search .search-btn {
      width: 45px;
      height: 45px;
      cursor: pointer;
      padding: 0;
      background: #F5F5F5;
      float: right; }
      .header-bottom__search .search-btn .icon-close {
        display: none; }
  .header-bottom__line {
    border-bottom: 1px solid #E4E3E3;
    align-items: flex-end; }
.header-mob {
  display: none; }

@media screen and (max-width: 1200px) {
  .header-center__entrance {
    margin-left: 15px; }
  .header-center__registration {
    margin-left: 15px; } }
@media screen and (max-width: 992px) {
  .header-center__inner {
    justify-content: space-between; }
  .header-center__nav {
    display: none; }
  .header-center__entrance {
    margin-left: 40px; }
  .header-center__registration {
    margin-left: 30px; }
  .header-bottom__right {
    display: none; }
  .header-bottom__removal {
    display: none; }
  .header-bottom__search-mob {
    display: flex; } }
@media screen and (max-width: 760px) {
  .header-top {
    padding: 10px 0; }
    .header-top__text {
      font-size: 8px; }
  .header-center__telephone {
    display: none; }
  .header-center .burger {
    display: block; }
    .header-center .burger--active {
      position: absolute;
      top: 18px;
      right: 16px; }
  .header-bottom {
    padding: 10px 0 0; }
    .header-bottom__bottom {
      margin-top: 10px; }
    .header-bottom__logo svg {
      width: 150px; }
    .header-bottom__favourites {
      margin-left: 25px; }
    .header-bottom__link:not(:first-child) {
      margin-left: 15px; }
    .header-bottom__search-mob {
      position: relative;
      margin-left: auto; }
      .header-bottom__search-mob input::placeholder {
        display: none; }
      .header-bottom__search-mob .search-input {
        width: 0;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0; }
        .header-bottom__search-mob .search-input--active {
          width: 285px;
          transition: all 0.3s;
          padding: 0 15px; }
      .header-bottom__search-mob .icon-search path {
        fill: #000000; }
      .header-bottom__search-mob .search-btn {
        position: relative;
        z-index: 2;
        background-color: transparent; }
        .header-bottom__search-mob .search-btn .icon-search {
          color: #000000; }
        .header-bottom__search-mob .search-btn--active {
          background: #F5F5F5; }
          .header-bottom__search-mob .search-btn--active .icon-search {
            display: none; }
          .header-bottom__search-mob .search-btn--active .icon-close {
            display: block; }
        .header-bottom__search-mob .search-btn:hover {
          background: #F5F5F5;
          transition: all 0.3s; }
  .header-mob {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden; }
    .header-mob::-webkit-scrollbar {
      width: 3px;
      height: 10px; }
    .header-mob::-webkit-scrollbar-track {
      background: #D9D9D9; }
    .header-mob::-webkit-scrollbar-thumb {
      background: #000000; }
    .header-mob--active {
      left: 0; }
    .header-mob__inner {
      padding: 0 30px; }
    .header-mob__items {
      padding-bottom: 34px; }
    .header-mob__nav {
      display: block;
      border-top: 1px solid #E9E9E9;
      border-bottom: 1px solid #E9E9E9;
      padding: 34px 0 24px; }
    .header-mob__list {
      display: block; }
      .header-mob__list li:not(:first-child) {
        margin-top: 25px;
        margin-left: 0; }
    .header-mob__telephone {
      display: block;
      padding-top: 28px; } }
@media screen and (max-width: 576px) {
  .header-bottom .search-input--active {
    width: 225px; }
  .header-bottom__bottom {
    display: none; }
  .header-bottom__favourites {
    margin-left: 10px; }
  .header-bottom__basket {
    margin-left: 10px; } }
@media screen and (max-width: 360px) {
  .header-bottom__logo svg {
    width: 128px; }
  .header-bottom .search-input--active {
    width: 180px; } }

/*# sourceMappingURL=header.css.map */
