.btn1 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    border: 1px solid #000000;
    text-transform: uppercase;
    &:hover {
        background-color: #000000;
        color: #fff;
    }
}

.btn2 {
    font-size: 12.8151px;
    line-height: 134.9%;
    color: #FFFFFF;
    background: #000000;
    text-transform: uppercase;
    &:hover {
        background-color: #fff;
        color: #000000;
        border: 1px solid #000000;
    }
}

.display2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 134.9%;
    color: #222222;
    text-align: center;
    text-transform: uppercase;
}

.card {
    .swiper {
        width: 100%;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .swiper-pagination {
        display: flex;
        span {
            flex-grow: 1;
            background: #FFFFFF;
            opacity: 1;
            border-radius: 0px;
            height: 3px;
        }
        .swiper-pagination-bullet-active {
            background: #222222;
        }
    }
    &__slider {
        position: relative;
    }
    &__item {
        &-desc {
            margin-top: 10px;
            padding: 0 10px 10px;
        }
        &-title {
            font-weight: 500;
            font-size: 14px;
            line-height: 134.9%;
            color: #222222;
        }
        &-colors {
            display: flex;
            align-items: center;
            margin-left: 5px;
            span {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                &:not(:first-child) {
                    margin-left: 7px;
                }
            }
        }
        &-subtitle {
            font-weight: 500;
            font-size: 14px;
            line-height: 134.9%;
            color: #A9A9A9;
            margin-top: 3px;
        }
        &-price {
            font-weight: 700;
            font-size: 15px;
            line-height: 134.9%;
            color: #222222;
            margin-top: 3px;
        }
    }
    &__desc-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__absolute {
        &-left {
            position: absolute;
            z-index: 2;
            top: 15px;
            left: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: default;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 3px 7px;
                font-weight: 500;
                font-size: 10px;
                line-height: 134.9%;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-right: auto;
                &:not(:first-child) {
                    margin-top: 6px;
                }
            }
        }
        &-right {
            position: absolute;
            z-index: 3;
            top: 15px;
            right: 15px;
            cursor: pointer;
            &--active {
                svg {
                    path {
                        fill: #EC5658;
                    }
                }
            }
        }
    }
}

.breadcrumbs {
    margin-top: 20px;
    &__items {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        position: relative;
        color: #919191;
        margin-bottom: 5px;
        &:not(:last-child) {
            padding-right: 20px;
            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                right: 10px;
                background-color: #919191;
                transform: rotate(15deg);
            }
        }
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn {
        &--prev {
            margin-right: 11px;
        }
        &--next {
            margin-left: 11px;
        }
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        line-height: 150%;
        letter-spacing: 0.06em;
        color: #000000;
        position: relative;
        z-index: 2;
        &:not(:last-child) {
            margin-right: 25px;
        }
        &:hover {
            font-weight: 700;
            color: #000000;
        }
        &--active {
            font-weight: 700;
            width: 30px;
            height: 30px;
            background: #D9D9D9;
            border-radius: 50%;
            pointer-events: none;
        }
    }
}

.cartcalc {
    display: flex;
    align-items: center;
    max-width: 110px;
    height: 55px;
    input {
        width: 70%;
        height: 100%;
        background: #FFFFFF;
        border: 1px solid #D8D8D8;
        text-align: center;
    }
    &__btns {
        background: #D9D9D9;
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.form {
    &-group {
        &--min {
            max-width: 245px;
            input[type="date"] {
                position: relative;
                background-image: url(../img/calendar.svg);
                background-position: right 10px center;
                background-repeat: no-repeat;
                z-index: 2;
            }
            input[type="date"]::-webkit-calendar-picker-indicator {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: auto;
                height: auto;
                color: transparent;
                background: transparent;
                opacity: 0;
            }
            input[type="date"]::-webkit-inner-spin-button,
            input[type="date"]::-webkit-clear-button {
                z-index: 1;
            }
            input[type="date"]::before {
                content: attr(data-placeholder);
                width: 100%;
                color: #5e6162;
            }
            input[type="date"]:focus::before,
            input[type="date"]:valid::before {
                display: none
            }
        }
        &:not(:first-child) {
            margin-top: 18px;
        }
        input {
            width: 100%;
            height: 40px;
            border: 1px solid #CDCDCD;
            padding: 0 10px;
            &:focus {
                border: 1px solid #000000;
            }
        }
        &__images {
            margin-top: 12px;
            margin-bottom: 18px;
        }
        &__subtitle {
            font-weight: 500;
            font-size: 11.1551px;
            line-height: 134.9%;
            color: #8F9192;
            margin-bottom: 23px;
            max-width: 440px;
            span {
                display: block;
            }
        }
        &__title {
            font-weight: 500;
            font-size: 16px;
            line-height: 134.9%;
            color: #222222;
            margin-bottom: 6px;
            span {
                color: #EC5658;
            }
        }
        &__img {
            margin-top: 18px;
        }
        &__text {
            font-weight: 500;
            font-size: 11.1551px;
            line-height: 134.9%;
            color: #8F9192;
            margin-top: 6px;
        }
        &__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            padding-bottom: 13px;
            &-link {
                font-weight: 500;
                font-size: 12.8229px;
                line-height: 134.9%;
                color: #4D4D4D;
                padding-bottom: 1px;
                position: relative;
                display: block;
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    border-bottom: 1px solid #4D4D4D;
                }
                &:hover {
                    &::after {
                        display: none;
                    }
                }
            }
        }
        &__necessarily {
            font-weight: 500;
            font-size: 12.8229px;
            line-height: 134.9%;
            span {
                color: #EC5658;
            }
        }
        &__link {
            font-weight: 500;
            font-size: 12.8229px;
            line-height: 134.9%;
            color: #4D4D4D;
            position: relative;
            padding-bottom: 1px;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                border: 1px solid #4D4D4D;
            }
            &:hover {
                &::after {
                    border: none;
                }
            }
        }
        &__btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 14px;
        }
        &__btn {
            width: 222px;
            height: 53px;
        }
        &__checked {
            position: relative;
            padding-bottom: 13px;
            input {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                left: 0;
                top: 0;
                z-index: 2;
                cursor: pointer;
                &:checked+label {
                    &::after {
                        background-image: url(../img/check.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            label {
                font-weight: 500;
                font-size: 13px;
                line-height: 16px;
                color: #222222;
                position: relative;
                padding-left: 30px;
                cursor: pointer;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 17px;
                    height: 17px;
                    background: #FFFFFF;
                    border: 1px solid #000000;
                }
            }
        }
    }
}

.hover {
    &__slide {
        position: relative;
    }
    &__images {}
    &__img {
        display: none;
        overflow: hidden;
        img {
            width: 100%;
        }
        &--active {
            display: block;
        }
    }
    &__pag {
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        &-item {
            background-color: transparent;
            padding: 0;
            width: 100%;
            max-width: 25%;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            height: 100%;
            border-bottom: 3px solid #ffffff;
            &--active {
                border-color: #222222;
            }
            &:not(:first-child) {
                margin-left: 5px;
            }
        }
    }
}

.swiper {
    &--delete {
        display: none;
    }
}

input.error {
    border-color: red !important;
}

.popup {
    &-dialog {
        width: 100%;
        max-width: 1200px;
    }
    &-header {
        position: relative;
        justify-content: center;
        border: none;
        padding: 30px;
    }
    &-title {
        font-size: 30px;
        font-weight: 700;
    }
    &-body {
        overflow-y: hidden;
        padding: 0 30px 30px;
        &::-webkit-scrollbar {
            width: 3px;
            height: 20px;
        }
        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.4);
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.4);
            border-radius: 15px;
        }
    }
    .btn-close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    table {
        width: 100%;
        text-align: center;
        tr {
            th {
                font-size: 18px;
                font-weight: 400;
                padding: 10px;
                color: #000000;
            }
            td {
                font-size: 18px;
                font-weight: 400;
                height: 60px;
                color: #000000;
            }
        }
    }
}

.popup2 {
    &-header {
        position: relative;
        justify-content: center;
        border: none;
        padding: 50px;
    }
    &-title {
        font-size: 30px;
        font-weight: 700;
    }
    .btn-close {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    &-body {
        padding: 0 50px 50px;
    }
    &-form {
        &__group {
            &:not(:first-child) {
                margin-top: 15px;
            }
            input {
                width: 100%;
                height: 53px;
                border: 1px solid #F5F5F5;
                padding: 0 15px;
            }
        }
    }
    &-checkbox {
        display: flex;
        align-items: center;
        margin-top: 30px;
        input {
            border: 1px solid #000000;
            width: 20px;
            height: 20px;
            -webkit-appearance: none;
            outline: none;
            background-color: #ffffff;
            cursor: pointer;
            transition: all 0.3s;
        }
        input:checked[type="checkbox"] {
            background-image: url(../img/check.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        a {
            margin-left: 10px;
            font-size: 14px;
            line-height: 120%;
            color: #000000;
            position: relative;
            padding-bottom: 1px;
            &:hover {
                color: #EC5658;
                &::after {
                    border-bottom: 1px dashed #EC5658;
                }
            }
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                border-bottom: 1px dashed #4D4D4D;
            }
        }
    }
    &-btn {
        width: 100%;
        height: 53px;
        text-transform: uppercase;
        margin-top: 30px;
    }
}

@media screen and (max-width: 992px) {
    .hover {
        &__img {
            height: 430px;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 768px) {
    .display2 {
        font-size: 18px;
    }
    .sale {
        .swiper-button {
            &-next {
                width: 30px;
                height: 30px;
                svg {
                    width: 15px;
                    height: 7px;
                }
            }
            &-prev {
                width: 30px;
                height: 30px;
                svg {
                    width: 15px;
                    height: 7px;
                }
            }
        }
    }
    .pagination {
        &__item {
            font-size: 12px;
            &:not(:last-child) {
                margin-right: 15px;
            }
            &--active {
                width: 20px;
                height: 20px;
            }
        }
    }
    .cartcalc {
        height: 40px;
    }
    .modal {
        &-header {
            padding: 30px 15px 15px;
        }
        &-title {
            font-size: 20px;
        }
        .btn-close {
            top: 15px;
            right: 15px;
        }
        &-body {
            padding: 0 15px 15px;
        }
        table {
            tr {
                th {
                    font-size: 14px;
                }
                td {
                    font-size: 14px;
                    height: 40px;
                }
            }
        }
    }
    .form {
        &-group {
            &:not(:first-child) {
                margin-top: 15px;
            }
            &__btn {
                width: 100%;
                height: 40px;
            }
            &__info {
                &-link {
                    padding-bottom: 0;
                    text-decoration: underline;
                    &::after {
                        display: none;
                    }
                    &:not(:first-child) {
                        margin-top: 10px;
                    }
                }
            }
            &__btns {
                display: block;
                button {
                    &:not(:first-child) {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .hover {
        &__slide {
            display: none;
        }
    }
    .swiper {
        &--delete {
            display: block;
        }
    }
    .popup2 {
        &-btn {
            height: 40px;
        }
        &-form {
            &__group {
                input {
                    height: 40px;
                }
            }
        }
    }
}